body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
    background: #1f8dd6;
}

html {
    font-size: 16px;
    color: white;
}

* {
    box-sizing: border-box;
  }

main {
    max-width: 80rem;
    margin: 0 auto;
}

.headerBigContainer {
    /*border: 5px solid red;*/
    background: #1f8dd6;
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;
    background: url("") no-repeat bottom center/cover;*/
}

.headerContainer {
    /*border: 2.5px solid white;
    border-radius: 5px;*/
    padding-inline: 12rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(31,141,214,0.9121849423363095) 100%);
}

.welcomeMessage {
    font-size: 2.7rem;
    color: white;
    border: 0.5px solid rgb(215, 231, 250);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
    background-color: #1f8dd6;
}

.flexContainerLists {
    /*border: 5px solid green;*/
    border-top: 0.5px solid white;
    display: flex;
    margin: 0 auto;
    background-color: #1f8dd6;
}

#lists {
    /*border: 5px solid red;*/
    margin: 0;
	/* width: 30%; */
    flex-grow: 1;
    max-width: 20rem;
}

.buttonNewList {
    display: flex;
    justify-content: right;
}

.labelNewList {
    align-self: center;
    padding: 10px;
}

button {
    border: none;
    background-color: white;
    color: #1f8dd6;
    padding: .5rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 .ul {
     border-top: 0.5px solid white;
 }
 
  #elementAddList {
    /*border: 5px solid coral;*/
    padding-left: 0;
 }

li {
    /* cursor: pointer; */
    padding: 0.8rem;
    list-style-type: none;
    background: #1f8dd6;
    border-bottom: 0.5px solid white;
    font-size: 1rem;
    transition: 0.3s;
    list-style-position: inside;
}
ul li:hover {
    background: white;
    color: #1f8dd6;
  }

ul li:nth-child(odd) {
    background: #44A4E4;
  }
  

ul li:nth-child(odd):hover {
    background: white;
  }

#todos {
    /*border: 5px solid blue;*/
    margin: 0;
	/* width: 70%; */    
    flex-grow: 4;
}

#addNewToDo {
    /* border: 5px solid coral; */
    width: 80%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
}

#formNewTodo {
    display: flex;
    align-items: center;
    padding: 0.5rem;    
}

#inputNewTodoText, #inputNewList {
    font-size: 1.5rem;
    text-indent: 10px;
    padding: 5px 0;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#inputNewList {
    font-size: 1.1rem;
}

.flexContainerToDo {
    /* border: 5px solid green; */
    display: flex;
    margin: 1rem auto;
    padding-left: 3rem;
}

#listElement {
    /* border: 5px solid black; */
    margin: 0px;
    padding-left: 0;
	width: 80%;
}

#ToDo {
    align-self: center;
}

.listToDo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

#operationsOnListElements {
    border: 5px solid yellow;
    display: inline-block;
    width: 30%;
    text-align: start;
}

.div-todo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.todo-label {
    flex-grow: 1;
}

.todo-label-completed {
    text-decoration: line-through;
}

.todo-completion-date {
    font-size: 7pt;
    vertical-align: sub;
    margin-right: 1rem;
}