body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
  }

.flexContainer {
border: 5px solid green;
display: flex;
margin: 0 auto;

}

#addNewlist {
    border: 5px solid red;
    margin: 0;
	width: 20%;
}

button {
    border: none;
    color: cornsilk;
    background-color: darkmagenta;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.ul {
    border: 5px solid coral;
}

 ul {
padding-left: 0;
 }

li {
    cursor: pointer;
    padding: 0.8rem;
    list-style-type: none;
    background: cornsilk;
    border-bottom: 1px solid cornflowerblue; 
    font-size: 1rem;
    transition: 0.3s;
    list-style-position: inside;
}
li:hover {
    background: cornflowerblue;
  }

ul li:nth-child(odd) {
    background: rgb(250, 181, 132);
  }

#myList {
    border: 5px solid blue;
    margin: 0;
	width: 80%;
}

#addNewToDo {
    border: 5px solid coral;
    width: 70%;
    margin-left: 1rem;
}

#listElement {
    border: 5px solid black;
    margin: ;
	max-width: 60%;
}

